<div *ngIf="!editMode" class="card" [draggable]="!isMouseOverText" [id]="'widget_' + widgetData.id" (mouseover)="onMouseOver($event)">
    <div class="card-header bg-{{widgetData.headerBgColor}} text-white">
        <span class="ico">
            <i class="fa fa-heart fav" aria-hidden="true" *ngIf='widgetData.fav'></i>
            <i class="fa fa-pencil" aria-hidden="true" (click)="toggleEditMode()"></i>
            <i class="fa fa-times" aria-hidden="true" (click)="destroyWidget(widgetData.index)"></i>
        </span>
        <span>
            <b>{{widgetData.title}}</b>
        </span>
    </div>
    <div class="card-block text-center">
        <span class="card-text card-content">{{widgetData.content}}</span>
    </div>
    <div class="card-footer text-muted text-center" *ngIf="widgetData.date">
        <span>{{widgetData.date}}</span>
    </div>
</div>
<!-- Edit Form -->
<form [formGroup]="editForm" (ngSubmit)="saveEditedWidgetChanges()" *ngIf="editMode">
    <div class="formButtons row justify-content-between">
        <div class="colorButtons">
            <label *ngFor="let color of colorsClasses"
               for = "{{color + widgetData.id}}"
               [ngClass] = "{'active': color == editForm.get('headerBgColor').value}"
               class="text-{{color}} fa fa-square colorClass"
               [attr.data-color] = color
               aria-hidden="true"></label>
            <input *ngFor="let color of colorsClasses"
                   id="{{color + widgetData.id}}"
                   [value]=color
                   type="radio"
                   name="headerBgColor"
                   formControlName="headerBgColor">
        </div>
            <div class="actionButtons">
                <input id="heart{{widgetData.id}}" type="checkbox" formControlName="fav">
                <label for="heart{{widgetData.id}}"
                       class="fa fa-heart" aria-hidden="true"
                       [ngStyle]="{'color': editForm.get('fav').value ? '#ff0000' : '#000000'}">
                </label>
                    <input
                            id="save{{widgetData.id}}"
                            type="submit"
                            [disabled]="!editForm.valid">

                    <label  for="save{{widgetData.id}}"
                            class="fa fa-floppy-o"
                            aria-hidden="true"
                            [ngStyle]="{'cursor': !editForm.valid ? 'not-allowed' : ''}"></label>

                <input type="button" id="cancelChanges{{widgetData.id}}" (click)="toggleEditMode()">
                <label for="cancelChanges{{widgetData.id}}" class="fa fa-undo" aria-hidden="true"></label>
            </div>
    </div>

    <div class="card-header">
        <span class="ico">
            <app-validation-icon [inputFormControl]="editForm.get('editTitle')"></app-validation-icon>
        </span>
        <div class="form-group">
            <input class="form-control"  type="text" formControlName="editTitle">
        </div>
    </div>

    <div class="card-block text-center">
        <div class="form-group">
            <span class="ico">
                <app-validation-icon [inputFormControl]="editForm.get('editContent')"></app-validation-icon>
            </span>
            <textarea class="form-control" rows="5"  type="text" formControlName="editContent"></textarea>
        </div>
    </div>

    <div class="card-footer text-muted text-center">
        <div class="form-group">
            <span class="ico">
                <app-validation-icon [inputFormControl]="editForm.get('editDate')"></app-validation-icon>
            </span>
            <input class="form-control"  type="text" formControlName="editDate">
        </div>
    </div>
</form>
    <app-drop-zone [dropzoneID]="widgetData.id" *ngIf="!isMobile"></app-drop-zone>



