input, textarea {
    width: calc(95% - 45px);
}

#editTitle {
    width: calc(88% - 45px);
}

.card-block {
    padding: 4%;
}

.dropHere {
    height: 1%;
}

.hidden {
    border: none;
    background: transparent;
    cursor: pointer;
}

.card-content {
    white-space: pre-wrap;
}

.card-header {
    color: white;
}
