.card-block {
    padding: 4%;
}

.dropHere {
    height: 1%;
}

input, textarea {
    width: calc(95% - 45px);
}

#editTitle {
    width: calc(88% - 45px);
}

.hidden {
    border: none;
    background: transparent;
    cursor: pointer;
}
