<form [formGroup]="singInForm">

  <div class="form-group">
    <label for="singInNickname">Login
      <app-validation-icon [inputFormControl]="singInForm.get('singInNickname')"></app-validation-icon>
    </label>
    <input id="singInNickname" class="form-control"  type="text" formControlName="singInNickname">
  </div>

  <div class="form-group">
    <label for="singInPass">Password
      <app-validation-icon [inputFormControl]="singInForm.get('singInPass')"></app-validation-icon>
    </label>
    <input id="singInPass" class="form-control" type="password" formControlName="singInPass">
  </div>

  <button class="btn btn-success"
          [isValid] = "singInForm.valid"
          appNotAllowedCursor>Log In!</button>
</form>