<form [formGroup]="singInForm" (submit)="onSubmit()">

  <div class="form-group">
    <label for="singInNickname">Login
      <i      appValidationIcons
              *ngIf="checkIfTouched(singInForm.get('singInNickname'))"
              [inputValid]="singInForm.get('singInNickname').valid"></i>
    </label>
    <input id="singInNickname" class="form-control"  type="text" formControlName="singInNickname">
  </div>

  <div class="form-group">
    <label for="singInPass">Password
      <i appValidationIcons
         *ngIf="checkIfTouched(singInForm.get('singInPass'))"
         [inputValid]="singInForm.get('singInPass').valid"></i>
    </label>
    <input id="singInPass" class="form-control" type="password" formControlName="singInPass">
  </div>

  <button class="btn btn-success"
          [isValid] = "singInForm.valid"
          appNotAllowedCursor>Log In!</button>
</form>