.dropContainer {
    margin: 3%;
    min-height: 20px;
    color: #9e9e9e;
}

.dropZoneBody {
    text-align: center;
    border: solid 3px #9e9e9e;;
    border-radius: 8px;
}

.fa {
    font-size: 250%;
    margin: 5% 0 3% 0;
}