.dropContainer {
    margin: 3%;
    min-height: 20px;
    color: #ffffff;
}

.dropZoneBody {
    background-color: #64b5f6;
    text-align: center;
    border-radius: 8px;
    -webkit-box-shadow: inset 10px 10px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 10px 10px 20px -10px rgba(0,0,0,0.75);
    box-shadow: inset 10px 10px 20px -10px rgba(0,0,0,0.75);
}

.doNotLeave {
    font-size: 270%;
    margin: 5% 0 5% 0;
}