body {
    background-color: #e0e0e0;
}

h2{
    margin: auto;
}

i{
    font-size: 35px;
    cursor: pointer;
}

.row:not(:first-child){
    filter:blur(5px);
}

.newWidgetForm{
    z-index: 1;
    margin-top: 80px;
}

.mobileWidget {
    margin: 3%;
    min-height: 20px;
}
