<nav class="navbar navbar-light bg-light">
    <i class="fa fa-plus-square" aria-hidden="true" (click)="toggleNewWidgetForm()"></i>
    <h2>Control Panel</h2>
    <i class="fa fa-cog" aria-hidden="true"></i>
</nav>

    <div class="container">

        <div class="row justify-content-center" *ngIf="addWidgetMode">
            <div class="col-10 col-xl-4 position-absolute newWidgetForm">
                <app-new-widget-form></app-new-widget-form>
            </div>
        </div>

        <div class="row justify-content-center" id="content">
                <div class="col-5" *ngIf="!isMobile">
                    <app-drop-zone class="topDropZones" [ID]="-2"></app-drop-zone>
                    <app-widget *ngFor="let widget of firstColumnWidgets" [widgetData]="widget"></app-widget>
                </div>
                <div class="col-5" *ngIf="!isMobile">
                    <app-drop-zone class="topDropZones" [ID]="-1"></app-drop-zone>
                    <app-widget *ngFor="let widget of secondColumnWidgets" [widgetData]="widget"></app-widget>
                </div>
                <div class="col-9" *ngIf="isMobile">
                    <app-widget class="mobileWidget" *ngFor="let widget of widgetData" [widgetData]="widget"></app-widget>
                </div>
        </div>
     </div>
