<form [formGroup]="singUpForm">
    <div class="form-group">
        <label for="singUpNickname">Login
            <i      appValidationIcons
                    *ngIf="checkIfTouched(singUpForm.get('singUpNickname'))"
                    [inputValid]="singUpForm.get('singUpNickname').valid"></i></label>
        <input id="singUpNickname" class="form-control" type="text" formControlName="singUpNickname">

    </div>
    <div class="form-group">
        <label for="singUpEmail">E-Mail
            <i      appValidationIcons
                    *ngIf="checkIfTouched(singUpForm.get('singUpEmail'))"
                    [inputValid]="singUpForm.get('singUpEmail').valid"></i></label>
        <input id="singUpEmail" class="form-control" type="text" formControlName="singUpEmail">
    </div>
    <div class="form-group">
        <label for="singUpPass">Password
            <i      appValidationIcons
                    *ngIf="checkIfTouched(singUpForm.get('singUpPass'))"
                    [inputValid]="singUpForm.get('singUpPass').valid"></i></label>
        <input id="singUpPass" class="form-control" type="password" formControlName="singUpPass">
    </div>
    <div class="form-group">
        <label for="singUpPassConfirm">Confirm Password
            <i      appValidationIcons
                    *ngIf="checkIfTouched(singUpForm.get('singUpPassConfirm'))"
                    [inputValid]="singUpForm.get('singUpPassConfirm').valid"></i></label>
        <input id="singUpPassConfirm" class="form-control" type="password" formControlName="singUpPassConfirm">
    </div>
    <button class="btn btn-success" type="button"
            [isValid] = "singUpForm.valid"
            appNotAllowedCursor
    >Sing Up!</button>
</form>
